@import "01-startpage.css"
@import "02-createproject.css"
@import "03-projectoverview.css"
@import "04-tasktab.css"
@import "05-teamtab.css"
@import "06-risktab.css"
@import "07-managementtab.css"
@font-face
  font-family: 'Lobster'
  font-style: normal
  font-weight: 400
  src: url('../fonts/Lobster/Lobster-Regular.ttf')
@font-face
  font-family: 'Open Sans Condensed'
  font-style: normal
  font-weight: 300
  src: url('../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf')

// Variables
$light-bg: linear-gradient(to top right, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%)
//$current-tab-bg: linear-gradient(to top right, rgba
$dropshadow: dropshadow(three-pass-box, #ccc, 10, 0, 0, 2)

/* Universal styling */
.root
  -fx-background-color: $light-bg

/* Button styling */
.button
  -fx-text-fill: white
  -fx-background-color: #71C688
  -fx-effect: dropshadow(three-pass-box, #71C688, 10, 0, 0, 2)
  -fx-background-radius: 50
#big-button
  -fx-font-size: 14pt
  -fx-padding: 10pt 0pt
#small-button
  -fx-font-size: 9pt
  -fx-padding: 1pt

.button:hover
  -fx-background-color: #3E6C4B
  -fx-effect: dropshadow(three-pass-box, #3E6C4B, 10, 0, 0, 2)

/* Text, label, etc, styling */
#h1
  -fx-font-family: 'Lobster'
  -fx-font-size: 35pt

#h2
  -fx-font-family: 'Open Sans Condensed'
  -fx-font-size: 15pt
  -fx-font-weight: 300

/* Start page and create project page styling */
#startpage-anchor,
#createproject-anchor
  -fx-background-color: #fff
  -fx-background-radius: 20
  -fx-effect: $dropshadow

#disclaimer
  -fx-font-weight: bold

#input
  -fx-pref-width: 100pt

/* Tab pane styling */
.tab-pane
  //-fx-background-color: #85d199