/* ______________________ Custom fonts */
@font-face
  font-family: 'Lobster'
  font-style: normal
  font-weight: 400
  src: url('../fonts/Lobster/Lobster-Regular.ttf')
@font-face
  font-family: 'Open Sans Condensed'
  font-style: normal
  font-weight: 300
  src: url('../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf')

//Variables
$light-gradient: linear-gradient(to top right, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%)
$light-dropshadow: dropshadow(three-pass-box, rgba(0, 0, 0, .2), 4, 0, 0, 2)
$primary-green: #71C688
$primary-green-dropshadow: dropshadow(three-pass-box, #71C688, 10, 0, 0, 2)
$dark-green: #3E6C4B
$dark-green-dropshadow: dropshadow(three-pass-box, #3E6C4B, 10, 0, 0, 2)

/* ______________________ Default styling */
.root
  -fx-background-color: $light-gradient
  -fx-font-smoothing-type: LCD
  -fx-font-family: Arial
  -fx-font-size: 1em
  -fx-text-fill: #ccc

/* ______________________ Button styling */
.button
  -fx-background-color: $primary-green
  -fx-effect: $primary-green-dropshadow
  -fx-background-radius: 50
  -fx-text-fill: #fff
  -fx-font-weight: bold
#big-button
  -fx-padding: 15pt 0
  -fx-font-size: 1.5em
.button:hover
  -fx-background-color: $dark-green
  -fx-effect: $dark-green-dropshadow

/* ______________________ Text, label etc, styling */
#h1, #h1-tab, #h1-tab-title, .chart-title
  -fx-font-family: 'Lobster'
#h1
  -fx-font-size: 35pt
#h1-tab
  -fx-font-size: 15pt
#h1-tab-title
  -fx-font-size: 20pt
#h2
  -fx-font-family: 'Open Sans Condensed'
  -fx-font-size: 15pt
  -fx-font-weight: 300

/* ______________________ Start - and create project page styling */
#content-box
  -fx-background-color: #fff
  -fx-effect: $light-dropshadow
  .label
    -fx-font-weight: bold
#disclaimer
  -fx-font-style: italic
#input
  -fx-pref-width: 150pt

/* ______________________ Tab pane styling */
.tab-pane
  -fx-tab-max-height: 2em
  -fx-tab-min-height: 2em
  -fx-tab-max-width: 7em
  -fx-tab-min-width: 7em
  -fx-background-color: #fafcfb
.tab .tab-label
  -fx-background-color: transparent
  -fx-alignment: center
  -fx-font-size: 9pt
  -fx-font-weight: bold
.tab
  -fx-background-color: #fff
  -fx-background-insets: 0.0
  -fx-background-radius: 0.0
.tab:selected
  -fx-background-color: #fafcfb
  -fx-background-radius: 0
  -fx-background-insets: 0
  -fx-border-width: 5 0 0 0
  -fx-border-color: #71C688
.tab:selected .focus-indicator
  -fx-focus-color: transparent
  -fx-border-color: transparent
.tab:focused
  -fx-focus-color: transparent
.tab-pane * .tab-header-background
  -fx-background-color: $light-gradient
.tab-pane:left *.tab-header-area
  -fx-background-insets: 0, 0 0 10
  -fx-padding: 0

/* ______________________ Chart styling */
.chart-legend
  -fx-visibility: hidden
  -fx-background-color: transparent
  -fx-text-fill: #fafcfb
.chart-bar.default-color0
  -fx-background-color: transparent
.chart-bar
  -fx-background-color: #fafcfb
  -fx-font-size: .9rem
.data0.chart-bar, .data4.chart-bar, .data8.chart-bar, .data12.chart-bar, .data16.chart-bar, .data20.chart-bar
  -fx-background-color: #71C688
.data1.chart-bar, .data5.chart-bar, .data9.chart-bar, .data13.chart-bar, .data17.chart-bar, .data21.chart-bar
  -fx-background-color: #5B5F97
.data2.chart-bar, .data6.chart-bar, .data10.chart-bar, .data14.chart-bar, .data18.chart-bar, .data22.chart-bar
  -fx-background-color: #FFC655
.data3.chart-bar, .data7.chart-bar, .data11.chart-bar, .data15.chart-bar, .data19.chart-bar, .data23.chart-bar
  -fx-background-color: #E76D83
.chart-plot-background
  -fx-background-color: transparent