#deleteTeamMember{
    -fx-background-color: #bd1117;
    -fx-effect: dropshadow(three-pass-box, #bd1117,10, 0, 0, 2);
}
#deleteTeamMember:hover{
    -fx-background-color: #85050a;
    -fx-effect: dropshadow(three-pass-box, #85050a,10,0,0,2);
}