#projectName,
#projectName2{
    -fx-font-family: "Lobster";
    -fx-font-size: 25pt;
    -fx-font-weight: 300;
}

#progressHeader,
#financeHeader,
#updateProjectDuration,
#currentBudget{
    -fx-font-family: "Open Sans Condensed";
    -fx-font-size: 15pt;
    -fx-font-weight: 300;
}
