/* ______________________ custom fonts */
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("Lobster-Regular.ttf");
}
/* ______________________ root styling */
.root {
  -fx-background-color: linear-gradient(to top right, #e6e6e6 0%, white 100%);
  -fx-font-smoothing-type: LCD;
  -fx-font-family: Arial;
  -fx-font-size: 1em;
}

/* ______________________ button styling */
.button {
  -fx-background-color: #71C688;
  -fx-effect: dropshadow(three-pass-box, #71C688, 10, 0, 0, 2);
  -fx-background-radius: 50;
  -fx-text-fill: #fff;
  -fx-font-size: 0.9em;
  -fx-font-weight: bold;
}

.button:hover {
  -fx-background-color: #3E6C4B;
  -fx-effect: dropshadow(three-pass-box, #3E6C4B, 10, 0, 0, 2);
}

.big-button {
  -fx-padding: 15pt 0;
  -fx-font-size: 1.3em;
}

.delete {
  -fx-background-color: #ed2f39;
  -fx-effect: dropshadow(three-pass-box, #ed2f39, 10, 0, 0, 2);
}

.delete:hover {
  -fx-background-color: #85050a;
  -fx-effect: dropshadow(three-pass-box, #85050a, 10, 0, 0, 2);
}

/* ______________________ text, label, etc, styling */
.h1, .h1-tab, .h1-tab-sub {
  -fx-font-family: "Lobster";
}

.h1 {
  -fx-font-size: 3.5em;
}

.h1-tab {
  -fx-font-size: 1.75em;
}

.h1-tab-sub {
  -fx-font-size: 2.5em;
}

.h2 {
  -fx-font-size: 1.5em;
}

/* ______________________ container styling */
.content-box {
  -fx-background-color: #fff;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
}
.content-box .label {
  -fx-font-weight: bold;
}
.content-box #disclaimer {
  -fx-font-style: italic;
}

/* ______________________ tab pane styling */
.tab-pane {
  -fx-tab-max-height: 2em;
  -fx-tab-min-height: 2em;
  -fx-tab-max-width: 7em;
  -fx-tab-min-width: 7em;
  -fx-background-color: #fafcfb;
}

.tab .tab-label {
  -fx-background-color: transparent;
  -fx-alignment: center;
  -fx-font-size: 0.8em;
  -fx-font-weight: bold;
}

.tab {
  -fx-background-color: #fff;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
}

.tab:selected {
  -fx-background-color: #fafcfb;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-border-width: 5 0 0 0;
  -fx-border-color: #71C688;
}

.tab:selected .focus-indicator {
  -fx-focus-color: transparent;
  -fx-border-color: transparent;
}

.tab:focused {
  -fx-focus-color: transparent;
}

.tab-pane * .tab-header-background {
  -fx-background-color: linear-gradient(to top right, #e6e6e6 0%, white 100%);
}

.tab-pane:left *.tab-header-area {
  -fx-background-insets: 0, 0 0 10;
  -fx-padding: 0;
}

/* ______________________ chart styling */
.chart-bar {
  -fx-margin: 0;
  -fx-background-color: #7BB2D9;
}

#gantt .chart-bar {
  -fx-background-color: #71C688;
}

#gantt .data0.chart-bar, #gantt .data4.chart-bar, #gantt .data8.chart-bar, #gantt .data12.chart-bar, #gantt .data16.chart-bar, #gantt .data20.chart-bar, #gantt .data24.chart-bar, #gantt .data28.chart-bar, #gantt .data32.chart-bar, #gantt .data36.chart-bar, #gantt .data40.chart-bar, #gantt .data44.chart-bar {
  -fx-background-color: #5B5F97;
}

#gantt .data1.chart-bar, #gantt .data17.chart-bar, #gantt .data9.chart-bar, #gantt .data13.chart-bar, #gantt .data3.chart-bar, #gantt .data21.chart-bar, #gantt .data25.chart-bar, #gantt .data29.chart-bar, #gantt .data33.chart-bar, #gantt .data37.chart-bar, #gantt .data41.chart-bar, #gantt .data45.chart-bar {
  -fx-background-color: #FFC655;
}

#gantt .data2.chart-bar, #gantt .data6.chart-bar, #gantt .data10.chart-bar, #gantt .data14.chart-bar, #gantt .data18.chart-bar, #gantt .data22.chart-bar, #gantt .data26.chart-bar, #gantt .data30.chart-bar, #gantt .data34.chart-bar, #gantt .data38.chart-bar, #gantt .data42.chart-bar, #gantt .data46.chart-bar {
  -fx-background-color: #71C688;
}

#gantt .data3.chart-bar, #gantt .data7.chart-bar, #gantt .data11.chart-bar, #gantt .data15.chart-bar, #gantt .data19.chart-bar, #gantt .data23.chart-bar, #gantt .data27.chart-bar, #gantt .data31.chart-bar, #gantt .data35.chart-bar, #gantt .data39.chart-bar, #gantt .data43.chart-bar, #gantt .data47.chart-bar {
  -fx-background-color: #E76D83;
}

#gantt .chart-bar.default-color0 {
  -fx-background-color: transparent;
}

/*# sourceMappingURL=default.css.map */
